body {
  background-image: url(images/Depositphotos_55318379_l-2015.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-image-width: 100%;
}

#wrapper {
  display: grid;
  grid-template-columns: 100%;
}

@media screen and (min-width: 500px) {
  #wrapper {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 800px) {
  #wrapper {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

#wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

h1 {
  text-align: center;
  padding: 2%;
  margin: 2%;
}

p {
  align-content: center;
}

#travis,
#holly,
#david,
#lindsay {
}

img {
  max-width: 75%;
  margin: 10%;
  height: auto;
  box-shadow: 10px 5px 5px grey;
  border-radius: 2%;
}
