body {
  background-size: 100%;
  background-image: url(/images/Depositphotos_23177554_s-2019.jpg);
  background-repeat: no-repeat;
  border-image-width: 100%;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 500px) {
  #wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  #wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  border: 1px solid black;
  padding: 2%;
  margin: 5%;
}

#contact-icons {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  align-content: center;
}

#travis,
#holly,
#david,
#lindsay {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
