body {
  background-image: url(images/Depositphotos_55318379_l-2015.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-image-width: 100%;
}

/*
#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% auto 20%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

@media screen and (min-width: 500px) {
  #wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% auto 20%;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
}
*/
@media screen and (min-width: 800px) {
  #wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% auto 20%;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
}

#travis {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
}

#holly {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
}

#david {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
}

#lindsay {
  grid-column-start: 4;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 60%;
  margin: 12%;
  height: auto;
  box-shadow: 10px 5px 5px grey;
  border-radius: 2%;
}

h1 {
  grid-row-start: 1;
  text-align: center;
  padding: 2%;
  margin: 2%;
}
